/*-----------------------------------------------------------------------------------*/
/*                             TABLE OF CONTENT                                    */
/*-----------------------------------------------------------------------------------*/
/* 
1 - RESET CSS
2 - GENERAL CSS STYLING (BODY, LINKS, LISTS, HEADINGS, TABLES, CODE, WRAPPER, CONTAINER)
3 - HEADER
4 - SECTIONS
5 - RECIPE PAGES
6 - FOOTER
*/

 /*----------------------------------------------------------------------------------*/
 /*                               1 - RESET CSS                                    */
 /*----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

 /*----------------------------------------------------------------------------------*/
 /*                     2 - GENERAL CSS FOR STYLING                                  */
 /*----------------------------------------------------------------------------------*/

 :root {
  /*naming scheme done by coolors :)*/
  --apricot: #FFC6AC;
  --cornsilk: #FFF6DC;
  --sage: #C4C1A4;
  --cadetgray: #9E9FA5;

 }

 @font-face {
  font-family: 'Katto';
  src: url('./resources/Fonts/kattopersonaluseoutline-0wz3r-webfont.woff2') format('woff2'),
       url('./resources/Fonts/kattopersonaluseoutline-0wz3r-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-video video {
  min-width: 100%;
  min-height: 100%;
}


.tablet {
  width: 70%;
  margin: .4em;
  background-color: var(--apricot); /* Set the background color of the tablet container */
  border: .2em solid #DF8B69;
  border-radius: 1.5em; /* Adjust the border radius to match the tablet's shape */
  position: relative; /* Create a positioning context for the SVG */
  overflow: hidden; /* Hide any part of the SVG that goes outside the container */
  display: flex; /* Use flexbox for vertical alignment */
  align-items: flex-end;

  font-size: 30px;
  font-size: 3vw;
}

.screen {
  position: absolute;
  background-color: #FFFDF7;
  border-radius: 1em;
  width: 90%;
  height: 95%;
  top: 50%; /* Move the top edge of the screen to the middle of the tablet */
  left: 53%; /* Move the left edge of the screen to the middle of the tablet */
  transform: translate(-50%, -50%); /* Center the screen horizontally and vertically */
}

#shading {
  fill: #FFAB8A;
  width: 100%; /* Make the SVG width 100% to fit the container */
  height: 100%; /* Make the SVG height 100% to fit the container */
}

/* Pages (Overlays) */
.page {
  display: none; /*start off with this for now*/
}

.active {
  display: block; 
}

#start-page {
  font-family: "Katto", sans-serif;
  color: var(--cadetgray);
  font-size: 2.3em;
  text-align: center;
  margin: 7% 25% 15% 25%;
}

#start-page button {
  background-color: var(--sage);
  box-sizing: border-box;
  border: .1em solid transparent;
  border-radius: .8em;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;


  padding-left: 10%; 
  padding-right: 7%;/* yes 8% is weird but otherwise its off center >:( i think it's centering off of TABLET and not screen*/
  font-family: "Chewy", sans-serif;
  font-size: .5em;
  color: var(--cornsilk);
  letter-spacing: .2em;
  text-align: center;
}

#start-page button:hover{
  background-color: #979261;
}

#start-page button:active{
  background-color: var(--cornsilk);
  color: var(--sage);
  border-color: var(--sage);
}
 /*----------------------------------------------------------------------------------*/
 /*                     6 - FOOTER                                  */
 /*----------------------------------------------------------------------------------*/

 .settings {
  box-sizing: border-box; /* prevents the scrollbar from showing */
  position: absolute; /* position and bottom keeps it at the bottom of the page*/
  bottom: 0;
  width: 100%; 
  display: flex;
  justify-content: space-between;
  padding: 0 5% 2.5%;
  align-items: flex-end;
}

.settings img{
  width: 5em;
  height: 5em;
}


.credits {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 246, 220, 0.5); /* get the RGBA of the intended color*/
  border-radius: .8em;

  color: #979261;
  font-family: "Chewy", cursive;
  font-size: 1em;
  letter-spacing: .2em;

  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.credits p{
    text-align: center;
    padding: .3em 1.4em;
    
}

.credits a:visited,
.credits a:hover{
  color: #979261;
}