/*-----------------------------------------------------------------------------------*/
/*                             TABLE OF CONTENT                                    */
/*-----------------------------------------------------------------------------------*/
/* 
1 - RESET CSS
2 - GENERAL CSS STYLING (BODY, LINKS, LISTS, HEADINGS, TABLES, CODE, WRAPPER, CONTAINER)
3 - HEADER
4 - SECTIONS
5 - RECIPE PAGES
6 - FOOTER
*/

 /*----------------------------------------------------------------------------------*/
 /*                               1 - RESET CSS                                    */
 /*----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

 /*----------------------------------------------------------------------------------*/
 /*                     2 - GENERAL CSS FOR STYLING                                  */
 /*----------------------------------------------------------------------------------*/

 :root {
  /*naming scheme done by coolors :)*/
  --apricot: #FFC6AC;
  --cornsilk: #FFF6DC;
  --sage: #C4C1A4;
  --cadetgray: #9E9FA5;

 }

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-video video {
  min-width: 100%;
  min-height: 100%;
}

.game {
  position: absolute;
}

.tablet {
  width: 70%;
  margin: 10px;
  background-color: var(--apricot); /* Set the background color of the tablet container */
  border: 5px solid #DF8B69;
  border-radius: 30px; /* Adjust the border radius to match the tablet's shape */
  position: relative; /* Create a positioning context for the SVG */
  overflow: hidden; /* Hide any part of the SVG that goes outside the container */
  display: flex; /* Use flexbox for vertical alignment */
  align-items: flex-end
}

#shading {
  fill: #FFAB8A;
  width: 100%; /* Make the SVG width 100% to fit the container */
  height: 100%; /* Make the SVG height 100% to fit the container */
}



 /*----------------------------------------------------------------------------------*/
 /*                     6 - FOOTER                                  */
 /*----------------------------------------------------------------------------------*/

 .settings {
  box-sizing: border-box; /* prevents the scrollbar from showing */
  position: absolute; /* position and bottom keeps it at the bottom of the page*/
  bottom: 0;
  width: 100%; 
  display: flex;
  justify-content: space-between;
  padding: 0 5% 2.5%;
  align-items: flex-end;
}

.settings img{
  width: 80px;
  height: 80px;
}


.credits {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 246, 220, 0.5); /* get the RGBA of the intended color*/
  border-radius: 13px;

  color: #979261;
  font-family: "Chewy", cursive;
  font-size: 18px;
  letter-spacing: 3px;

  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.credits p{
    text-align: center;
    padding: 5px 20px;
    
}

.credits a:visited,
.credits a:hover{
  color: #979261;
}